@{
    ViewData["Title"] = "Specification";
}

<div class="text-center">
    <h1 class="display-4">Specification</h1>
    <p>Meridian Line Travel is a small airline company with a fleet of aircraft for passengers. This website keeps track of the various aircraft that MLT have and what status they are in. <a href="https://github.com/Zethos-02/secure-programming">Github</a>.</p>
</div>
