@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*create the privacy policy*@

<p>This site is hosted on a local server therefore no real sensitive data should be entered. This is all for an assignment and will be treated as a prototype emulation of a solution. The company and details are not real and were created specifically for the task.</p>
